 SUPABASE_URL=
 SUPABASE_SERVICE_ROLE_KEY=
 ASAAS_API_KEY=
 SMTP_USER=contato_adm@podols.com.br
 SMTP_PASS=
 CLOUDFLARE_R2_ACCOUNT_ID=
 CLOUDFLARE_R2_ACCESS_KEY_ID=
 CLOUDFLARE_R2_SECRET_ACCESS_KEY=
 CLOUDFLARE_R2_BUCKET_NAME=
 UPSTASH_REDIS_REST_URL=
 UPSTASH_REDIS_REST_TOKEN=
 PORT=3001